[Desktop Entry]
Encoding=UTF-8
Type=Application

Name=Install-Upgrade generic kernel to external SSD disk or USB stick
Name[el]=Εγκατάσταση-ενημέρωση γενικού πυρήνα σε εξωτερικό SSD δίσκο ή USB stick

Categories=System
Exec=kdesu /usr/sbin/install-upgrade-kernel-ext-usb-gtk
Icon=install-upgrade-kernel-ext-usb-gtk
OnlyShowIn=KDE

